@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
    --color-primary: #4CAF4F;
    --color-secondery: #263238;
    --color-info: #2194f3;
}